header{
    height:50px;
}

.col-1-5 {
    flex: 0 0 12.5%;
}

.navbar li{
    padding-left: 120px;
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50px;
}
